*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f8f8f8;
}

.wrapper{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:220px;
    background:#ffffff;
    border-right:1px solid #ddd;
}

.logo{
    padding:20px;
    border-bottom:1px solid #ddd;
    font-weight:bold;
}

.sidebar ul{
    list-style:none;
    padding:15px 0;
}

.sidebar ul li{
    padding:14px 25px;
    color:#555;
    cursor:pointer;
    transition:.3s;
    display:flex;
    align-items:center;
    gap:10px;
}

.sidebar ul li:hover{
    background:#f3f3f3;
}

.sidebar ul li.active{
    background:#eaf2ff;
    border-left:4px solid #3b82f6;
    color:#000;
    font-weight:600;
}

.main-content{
    flex:1;
}

.navbar{
    background:white;
    border-bottom:1px solid #ddd;
    padding:18px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.search-top{
    width:180px;
    border-radius:20px;
}

.profile-circle{
    width:34px;
    height:34px;
    background:#ddd;
    border-radius:50%;
}

.filters{
    padding:25px;
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}

.search-box{
    width:260px;
}

.form-select{
    width:170px;
}

.add-btn{
    margin-left:auto;
    width:170px;
}

.equipment-grid{
    padding:0 25px 25px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.equipment-card{
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    padding:14px;
    transition:.3s;
}

.equipment-card:hover{
    transform:translateY(-4px);
    box-shadow:0 6px 15px rgba(0,0,0,.1);
}

.image-placeholder{
    height:110px;
    background:#ececec;
    border-radius:8px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#777;
    margin-bottom:15px;
}

.equipment-card h6{
    margin-bottom:5px;
    font-weight:bold;
}

.equipment-card p{
    color:#777;
    font-size:14px;
    margin-bottom:12px;
}

.status{
    width:100%;
    height:7px;
    border-radius:20px;
    margin-bottom:12px;
}

.green{
    background:#3bb54a;
}

.blue{
    background:#4285f4;
}

.orange{
    background:#ff9800;
}

.red{
    background:#ef4444;
}

.btn-outline-dark{
    border-radius:6px;
}

.image-placeholder img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:8px;
}

@media(max-width:1100px){

.equipment-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.sidebar{
display:none;
}

.filters{
flex-direction:column;
}

.search-box,
.form-select,
.add-btn{
width:100%;
}

.equipment-grid{
grid-template-columns:1fr;
}

.navbar{
flex-direction:column;
gap:15px;
align-items:flex-start;
}

}