.sidebar {
    width: 250px;
    height: 100vh;
    background: #163c91;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px 20px;
    box-shadow: 5px 0 20px rgba(0,0,0,0.15);
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
    color: #FFD54F;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 18px;
    margin-bottom: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.sidebar ul li:hover {
    background: rgba(255,255,255,0.15);
}

.sidebar ul li.active {
    background: #FFD54F;
    color: #163c91;
    font-weight: bold;
}

.logout {
    margin-top: 60px;
    color: #ffb3b3;
}

.logout:hover {
    background: #d32f2f !important;
    color: white;
}
.sidebar-link{
    text-decoration:none;
    color:inherit;
    display:block;
}

.sidebar-link li{
    list-style:none;
}